<html>
<body>
<h1>Sandbox</h1>

<p>Menu</p>
<ul>
<li><a href="ajax">The shortest Ajax+Catalyst tutorial in the world</a></li>
<li><a href="mongo">MongoDB</a> - TODO</li>
<li><a href="yuiioget">IO: GET Transaction</a> - TODO</li>
<li><a href="yuiloader">YIU Loader</a> - TODO</li>
<li><a href="yuiportal">YIU Portal</a> - TODO</li>
</ul>
</body>
</html>
