[%#
  Identify col# for groupby, orderby etc.
  filtercol = -1;
  ordercol  = -2;
  groupcol  = -3;
  indexcol  = -4;
  deletecol = -5;
-%]
<table class="summary>
[% SET context = 'expanded' %]
[% FOREACH item IN record %]
  <tr valign="top">
    <th>[% item.type %] - [% item.fieldname %]<th>
    [% IF item.canedit %]
    <td>edit [% item.value %]<td>
    [% ELSE %]
    <td>[% INCLUDE renderfield %]<td>
    [% END %]
  </tr>
[% END %]
</table>
