<html>
<head><title>Existing Project Collections</title></head>
<body>
<h1>[% projname %]</h1>
<p>Edit Project Collection Definition</p>

<form method=post action="[% c.uri_for(c.controller.action_for('update_do')) %]">
<table halign=left>
<tr valign=top>
  <th>Name:</th>
  <td><input name=projname value="[% projname %]"></td>
  <td><tt>Name of List</tt></td>
</tr>
<tr valign=top>
  <th>Config:</th>
  <td><textarea name=fielddef cols=50 rows=24>[% fielddef %]</textarea></td>
  <td><pre>
Fieldlist Attributes:

  field: &lt;Field name&gt;
  type: &lt;text|textarea|select|checkboxgroup|templateselect&gt;
  isindex: 'true'      # Uniq index field for list
  showsummary: 'true'  # Show field in summary line
  editsummary: 'true'  # Edit field in summary line
  showexpanded: 'true' # Show field in expanded area
  editexpanded: 'true' # Edit field in expanded ares
  orderby: 'true'      # Field can be used for sorting
  groupby: 'true'      # Field can be used for grouping
  filterby: 'true'     # Field can be used for filtering
  size: W or WxH       # numbers or chars visible 
  choices:             # Valid input choices
</pre></td>
</tr>
<tr><th></th><td>
  <input type=submit value="Save Configuration">
  <input type=reset>
</td><td><td></tr>
</table>
</form>

<ul>
[% FOREACH coll = collections %]
<li><a href="[% c.uri_for(c.controller.action_for('read'), [coll.title]) %]">[% coll.title | html %]</a></li>
[% END %]
</ul>
<a href="[% c.uri_for(c.controller.action_for('create')) %]">Create New Project Collection</a>
</body>
</html>
